<!DOCTYPE html>
<html>
  <head>
    <title> Classifies </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <ul>
      <%classifies.forEach(function(classify){%>
                  <li><a href="/news/<%=classify.name%>"><%=classify.show%></a></li>
              <%})%>
  </ul>
  </body>
</html>
